.title
{
    display: flex;
    justify-content: center;
}

.heading
{
    font-size: 6vw;
}

.list-style
{
    font-size: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
}



.none
{
    list-style: none;
}


.next-style
{
    font-size: 2vw;
}

main
{   
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    box-shadow: 0px 0px 50px black;
    margin-top: 0;
}

html
{
    background-color: red;
    font-family: Arial;
}

.center
{
    text-align: center;
}

.margin
{
    margin: 1vw 1vw;
}



.table
{
    font-size: 1.9vw;
    margin: 3vw 3vw;
}

.pion
{
    display: block;
    text-align: center;
}

#intel
{
    color: red;
}